




footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
}
.navbar li {
    padding: 14px 20px;
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.navbar li a:hover {
    background-color: #111;
}






/* ========= FORMULAIRES ==========*/


form {
    max-width: 400px;
    margin: auto;
}
label, input, select, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}



/* ========== BUTTONS ========== */

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
 /*========= CTA BUTTONS =========*/

.checkout-section {
    margin-top: 20px;
    text-align: center;
}

.checkout-btn, .clear-btn {
    background-color: #28a745; /* Couleur verte pour Checkout */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.checkout-btn:hover {
    background-color: #218838; /* Couleur verte plus foncée au survol */
}

.clear-btn {
    background-color: #dc3545; /* Couleur rouge pour Clear Order */
}

.clear-btn:hover {
    background-color: #c82333; /* Rouge plus foncé au survol */
}