<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Website</title>
    <link rel="icon" href="../images/favicon3.png" type="image/png">
    <link rel="stylesheet" href="../css/output.css">
</head>
<body class="flex flex-col min-h-screen">

<header>
    <nav class="bg-orange-100 dark:bg-gray-900 relative w-full z-20 top-0 start-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a th:href="@{/}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/logoSimple.png" class="h-16" alt="Logo">
                <span class="hidden lg:flex self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Welcome to PizzaFlow</span>
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-orange-200 focus:outline-none focus:ring-2 focus:ring-orange-300"
                        aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-orange-100 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900">

                    <!-- Menu - visible pour ROLE_MANAGER et ROLE_PIZZAMAKER -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER') or hasAuthority('ROLE_PIZZAMAKER')">
                        <a th:href="@{/products-list}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Menu</a>
                    </li>

                    <!-- Add a Product - visible pour ROLE_MANAGER et ROLE_PIZZAMAKER -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER')">
                        <a th:href="@{/product-form}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Add a Product</a>
                    </li>

                    <!-- Clients - visible pour ROLE_MANAGER et ROLE_PIZZAMAKER -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER') or hasAuthority('ROLE_PIZZAMAKER')">
                        <a th:href="@{/clients-list}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Clients</a>
                    </li>

                    <!-- Add a Client - visible pour ROLE_MANAGER et ROLE_PIZZAMAKER -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER') or hasAuthority('ROLE_PIZZAMAKER')">
                        <a th:href="@{/client-form}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Add a Client</a>
                    </li>

                    <!-- Orders - visible pour ROLE_MANAGER, ROLE_PIZZAMAKER et ROLE_DELIVERYPERSON -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER') or hasAuthority('ROLE_PIZZAMAKER') or hasAuthority('ROLE_DELIVERYPERSON')">
                        <a th:href="@{/orders-list/0}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Orders</a>
                    </li>

                    <!-- Add User - visible uniquement pour ROLE_MANAGER -->
                    <li sec:authorize="hasAuthority('ROLE_MANAGER')">
                        <a th:href="@{/authForm}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Add User</a>
                    </li>

                    <!-- Logout - visible pour tous les utilisateurs connectés -->
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" class="block py-2 px-3 text-gray-900 rounded hover:bg-orange-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white dark:hover:bg-gray-700">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>



<main layout:fragment="content" class="flex-grow">
    <!-- Ici le contenu spécifique de chaque page -->
    <section>
        <h2>!Base Content!</h2>
    </section>
</main>

<footer class="bg-orange-100 text-white py-4">
    <div class="max-w-screen-xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/logoSimple.png" class="h-14" alt="Logo">
                <span class="hidden lg:flex self-center text-2xl font-semibold whitespace-nowrap text-black mr-8">PizzaFlow</span>
            </div>
            <div class="flex space-x-4 rtl:space-x-reverse">
                <a href="#" class="text-gray-400 hover:text-gray-600">Privacy Policy</a>
                <a href="#" class="text-gray-400 hover:text-gray-600">Terms of Service</a>
                <a href="#" class="text-gray-400 hover:text-gray-600">Contact</a>
            </div>
        </div>
        <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
            &copy; 2024 PizzaFlow. All rights reserved.
        </p>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('[data-collapse-toggle]');
        const navbarMenu = document.getElementById('navbar-sticky');

        toggleButton.addEventListener('click', function() {
            navbarMenu.classList.toggle('hidden');
        });
    });
</script>

</body>
</html>
