<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:fragment="title">Pizza Website</title>
    <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>

<header>
    <nav>
        <ul class="navbar">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products-list}">Menu</a></li>
            <li><a th:href="@{/product-form}">Add a product</a></li>
            <li><a th:href="@{/client-form}">Add a client</a></li>
            <li><a th:href="@{/orders-list}">Orders</a></li>
            <li><a th:href="@{/clients-list}">Clients</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Ici le contenu spécifique de chaque page -->
    <section layout:fragment="content">
        <!-- Contenu par défaut-->
        <h2>!Base Content!</h2>
    </section>
</main>

<footer>
    <p>Pizza Website © 2024</p>
</footer>

</body>
</html>
