<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>
</head>
<body>
<main>
    <section layout:fragment="content">
        <h1>Your Order</h1>

        <!-- Message si la commande est vide -->
        <div th:if="${#lists.isEmpty(orderDetails)}">
            <p>Your order is empty. <a th:href="@{/products-list}">Return</a>.</p>
        </div>

        <!-- Si la commande contient des articles -->
        <div th:if="${!#lists.isEmpty(orderDetails)}">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orderDetails}">
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.product.description}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.product.price}">€</td>
<!--                    <td th:text="${item.quantity*item.product.price}">€</td>-->
                    <td>
                        <a th:href="@{/cart/remove/{id_product}(id_product=${item.product.id_product}, id_client=1)}">Remove</a>

                    </td>
                </tr>
                </tbody>
            </table>

            <a th:href="@{/cart/clear}">Clear Order</a>
        </div>

        <a th:href="@{/products-list}">Keep Shopping</a>
    </section>
</main>
</body>
</html>
