<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
  <meta charset="UTF-8">
  <title>Orders List</title>
  <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>
<main>
  <section layout:fragment="content">
    <h1>Orders List</h1>

    <!-- new order -->
    <a th:href="@{/orders/create}" class="create-order-btn">Create Order</a>

    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Client</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td th:text="${order.id_order}"></td>
        <td th:text="${order.client.firstName} + ' ' + ${order.client.lastName}"></td>
        <td th:text="${#dates.format(order.delivery_datetime, 'dd/MM/yyyy HH:mm')}"></td>
<!--        <td th:text="${order.id_state == 1 ? 'Pending' : (order.id_state == 2 ? 'Ordered' : 'Completed')}"></td>-->
        <td>
          <a th:href="@{/orders/edit/{id_order}(id_order=${order.id_order})}">Modify</a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
</body>
</html>