<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Orders List</title>
    <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>
<main  layout:fragment="content">
    <section>
        <h1>Orders List</h1>

        <div>
            <form th:action="@{/orders-list/create}" method="post">
                <label for="client">Select Client for New Order:</label>
                <select id="client" name="id_client" required>
                    <option value="" disabled selected>Select a client</option>
                    <option th:each="client : ${clients}" th:value="${client.id_client}"
                            th:text="${client.firstName} + ' ' + ${client.lastName}">
                    </option>
                </select>
                <button type="submit">Create Order</button>
            </form>
        </div>

        <a th:href="@{/client-form}">Add New Client</a>

        <div th:if="${#lists.isEmpty(orders)}">
            <p>No orders available</p>
        </div>

        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Client</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Change Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id_order}"></td>
                <td th:text="${order.client.firstName} + ' ' + ${order.client.lastName}"></td>
                <td th:text="${#temporals.format(order.delivery_datetime, 'dd/MM/yyyy HH:mm')}"></td>
                <td>
                    <span th:switch="${order.id_state}">
                        <span th:case="1">Cart</span>
                        <span th:case="2">Confirmed</span>
                        <span th:case="3">In Preparation</span>
                        <span th:case="4">Ready</span>
                        <span th:case="5">In Delivery</span>
                        <span th:case="6">Delivered</span>
                        <span th:case="7">Cancelled</span>
                        <span th:case="*">Unknown</span>
                    </span>
                </td>

                <!--                update order state-->
                <td>
                    <form th:action="@{/orders-list/update-state/{id_order}(id_order=${order.id_order})}" method="post">
                        <select name="id_state" id="id_state_select">
                            <option th:each="state : ${states}" th:value="${state.id_state}" th:text="${state.state}"
                                    th:selected="${order.id_state == state.id_state}"></option>
                        </select>
                        <button type="submit">Update State</button>
                    </form>
                </td>

                <td>
                    <a th:href="@{/orders/edit/{id_order}(id_order=${order.id_order})}">Modify</a>

                    <!-- Delete -->
                    <form th:action="@{/orders-list/delete/{id_order}(id_order=${order.id_order})}" method="post">
                        <button type="submit">Delete</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
