<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
<main>
    <section layout:fragment="content">
        <form th:object="${product}" method="post" th:action="@{/product-form}">

            <div><!-- pour l'id pour le moment : un champ -->
                <label for="id_product">Product ID</label>
                <input th:field="*{id_product}" name="id_product" type="number" placeholder="Product ID if any">
            </div>
            <!--   Nom du produit -->
            <div>
                <label for="name">Product name:</label>
                <input th:field="*{name}" name="name" class="uk-input" type="text" placeholder="Enter pizza name">
            </div>

            <div>
                <label for="description">Description :</label>
                <textarea th:field="*{description}" name="description" rows="3" placeholder="Pizza "
                          required></textarea>
            </div>
            <!-- Prix de la pizza -->
            <div>
                <label for="prix">Prix (€) :</label>
                <input th:field="*{price}" name="price" placeholder="Prix de la pizza" type="number">
            </div>
            <!-- Image URL  -->
            <label for="image_url">Image URL:</label>
            <input th:field="*{image_url}" name="image_url" type="url" placeholder="Image url">

            <button type="submit">Send</button>
        </form>
    </section>
</main>
</body>
</html>
