<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Menu</title>
    <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>
<main>

    <section layout:fragment="content">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity & Size</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id_product}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>

                <td>
                    <form th:action="@{/cart/add/{id_product}(id_product=${product.getId_product()})}" method="post">

                        <input type="hidden" name="id_product" th:value="${product.id_product}">

                        <input type="number" name="quantity" min="1" value="1">

                        <select name="size">
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                        </select>

                        <button type="submit">Add to cart</button>
                    </form>
                </td>

                <td>
                    <a th:href="@{/product-form/{id}(id=${product.id_product})}">Modify</a>
                </td>

                <td>
                    <a th:href="@{/products-list/delete/{id}(id=${product.id_product})}"
                       onclick="return confirm('You are about to delete this item, confirm ?')">Delete item</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="checkout-section">
            <a class="checkout-btn" th:href="@{/cart}">Show Cart</a>
        </div>
    </section>
</main>
</body>
</html>
