<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Menu</title>
    <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>
<main>

    <section layout:fragment="content">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity & Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id_product}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>


                <td>
                    <a th:href="@{/product-form/{id}(id=${product.id_product})}">Modify</a>
                </td>

                <td>
                    <a th:href="@{/products-list/delete/{id}(id=${product.id_product})}"
                       onclick="return confirm('You are about to delete this item, confirm ?')">Delete item</a>
                </td>
            </tr>
            </tbody>
        </table>

    </section>
</main>
</body>
</html>
