<!DOCTYPE html>
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{base}">-->
<html>
<head>
    <meta charset="UTF-8">
    <title>Add or modify product</title>
  <link rel="stylesheet" href="/css/pizza-theme.css">
</head>
<body>
<form th:object="${product}" method="post" th:action="@{/product-form}">

  <!-- pour l'id pour le moment : un champ -->
  <label for="id_product">Product ID</label>
  <input th:field="*{id_product}" name="id_produit" type="number" placeholder="Product ID if any">

<!--   Nom du produit -->
  <label for="name">Product name:</label>
  <input th:field="*{name}" class="uk-input" type="text" placeholder="Enter pizza name">

  <!-- Description de la pizza -->
  <label for="description">Description :</label>
  <textarea th:field="*{description}" name="description" rows="3" placeholder="Description de la pizza" required></textarea>

  <!-- Prix de la pizza -->
  <label for="prix">Prix (€) :</label>
  <input th:field="*{price}" name="prix" step="0.01" placeholder="Prix de la pizza" type="number">

<!--  &lt;!&ndash; Image URL  &ndash;&gt;-->
<!--  <label for="image_url">URL de l'image (facultatif) :</label>-->
<!--  <input type="url" id="image_url" name="image_url" placeholder="url de l'image">-->

  <!-- Taille du produit -->
  <label for="size_product">Taille de produit :</label>
  <select th:field="*{size}">
    <option th:each="cat:${size}" th:value="${size.id}" th:text="${size.name}"></option>
  </select>

  <button type="submit">Send</button>
</form>

</body>
</html>